<h1 id="lab-enable-monitoring-troubleshooting-and-management-of-the-application">Lab: Enable monitoring, troubleshooting, and management of the application</h1>
<h2 id="objectives">Objectives</h2>
<p>Expose health, metrics, and other management endpoints in the productsapp to enable monitoring, troubleshooting, and management of the application.</p>
<h2 id="tasks">Tasks</h2>
<h3 id="task-1-add-the-dependency">Task 1: Add the dependency</h3>
<p>Add the below maven dependencies in <code>pom.xml</code></p>
<div class="sourceCode" id="cb1"><pre class="sourceCode xml"><code class="sourceCode xml"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true"></a>  <span class="kw">&lt;dependency&gt;</span></span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true"></a>   <span class="kw">&lt;groupId&gt;</span>org.springframework.boot<span class="kw">&lt;/groupId&gt;</span></span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true"></a>   <span class="kw">&lt;artifactId&gt;</span>spring-boot-starter-actuator<span class="kw">&lt;/artifactId&gt;</span></span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true"></a>  <span class="kw">&lt;/dependency&gt;</span></span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true"></a>  <span class="kw">&lt;dependency&gt;</span></span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true"></a>   <span class="kw">&lt;groupId&gt;</span>org.springframework.boot<span class="kw">&lt;/groupId&gt;</span></span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true"></a>   <span class="kw">&lt;artifactId&gt;</span>spring-boot-starter-web<span class="kw">&lt;/artifactId&gt;</span></span>
<span id="cb1-8"><a href="#cb1-8" aria-hidden="true"></a>  <span class="kw">&lt;/dependency&gt;</span></span>
<span id="cb1-9"><a href="#cb1-9" aria-hidden="true"></a>  <span class="kw">&lt;dependency&gt;</span></span>
<span id="cb1-10"><a href="#cb1-10" aria-hidden="true"></a>   <span class="kw">&lt;groupId&gt;</span>io.micrometer<span class="kw">&lt;/groupId&gt;</span></span>
<span id="cb1-11"><a href="#cb1-11" aria-hidden="true"></a>   <span class="kw">&lt;artifactId&gt;</span>micrometer-registry-prometheus<span class="kw">&lt;/artifactId&gt;</span></span>
<span id="cb1-12"><a href="#cb1-12" aria-hidden="true"></a>   <span class="kw">&lt;scope&gt;</span>runtime<span class="kw">&lt;/scope&gt;</span></span>
<span id="cb1-13"><a href="#cb1-13" aria-hidden="true"></a>  <span class="kw">&lt;/dependency&gt;</span></span></code></pre></div>
<ul>
<li>start the Spring Boot application and make a call to <a href="http://localhost:8080/actuator">http://localhost:8080/actuator</a> endpoint, it will display various default health information endpoints</li>
<li>If you get a whitelabel error, whitelist in webconfig <code>/actuator/**</code>.</li>
</ul>
<h2 id="output">Output:</h2>
<p><img src="./images/image1-1.png" /></p>
<h3 id="task-2-enable-all-actuator-endpoints">Task 2: Enable all actuator endpoints</h3>
<p>Add below code to <code>application.yml</code></p>
<div class="sourceCode" id="cb2"><pre class="sourceCode yml"><code class="sourceCode yaml"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true"></a><span class="fu">management</span><span class="kw">:</span></span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true"></a><span class="at">    </span><span class="fu">endpoints</span><span class="kw">:</span></span>
<span id="cb2-3"><a href="#cb2-3" aria-hidden="true"></a><span class="at">        </span><span class="fu">web</span><span class="kw">:</span></span>
<span id="cb2-4"><a href="#cb2-4" aria-hidden="true"></a><span class="at">            </span><span class="fu">exposure</span><span class="kw">:</span></span>
<span id="cb2-5"><a href="#cb2-5" aria-hidden="true"></a><span class="at">                </span><span class="fu">include</span><span class="kw">:</span><span class="at"> </span><span class="st">&#39;*&#39;</span></span></code></pre></div>
<p>This will expose the available actuator endpoints</p>
<p><img src="./images/image1-2.png" /></p>
<p>Now, you can try visiting the other listed endpoints for example beans, prometheus, health etc..</p>
<p><img src="./images/image1-4.png" /></p>
<h3 id="task-3-add-restrictions-for-other-endpoints">Task 3: Add restrictions for other endpoints</h3>
<p>We can enable only prometheus &amp; disable other endpoints in <code>application.yml</code></p>
<div class="sourceCode" id="cb3"><pre class="sourceCode yml"><code class="sourceCode yaml"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true"></a><span class="fu">management</span><span class="kw">:</span></span>
<span id="cb3-2"><a href="#cb3-2" aria-hidden="true"></a><span class="at">    </span><span class="fu">endpoints</span><span class="kw">:</span></span>
<span id="cb3-3"><a href="#cb3-3" aria-hidden="true"></a><span class="at">        </span><span class="fu">web</span><span class="kw">:</span></span>
<span id="cb3-4"><a href="#cb3-4" aria-hidden="true"></a><span class="at">            </span><span class="fu">exposure</span><span class="kw">:</span></span>
<span id="cb3-5"><a href="#cb3-5" aria-hidden="true"></a><span class="at">                </span><span class="fu">include</span><span class="kw">:</span><span class="at"> </span><span class="kw">[</span><span class="at"> </span><span class="st">&quot;prometheus&quot;</span><span class="at"> </span><span class="kw">]</span></span></code></pre></div>
<h2 id="output-1">Output:</h2>
<p><img src="./images/image1-5.png" /></p>
<h3 id="task-4-setting-up-prometheus-and-grafana-using-docker">Task 4: Setting up Prometheus and Grafana using Docker</h3>
<p>The Docker Compose file configures a Prometheus container to collect metrics from a Spring Boot application using the prometheus.yml file. It also sets up a Grafana container that uses the datasources.yml file to define Prometheus as the default data source for analyzing the collected metrics.</p>
<ul>
<li>Create the folder structure as below</li>
</ul>
<p><img src="./images/image1-6.png" /></p>
<ul>
<li>Create a docker-compose file with the code below</li>
</ul>
<div class="sourceCode" id="cb4"><pre class="sourceCode yml"><code class="sourceCode yaml"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true"></a><span class="fu">version</span><span class="kw">:</span><span class="at"> </span><span class="st">&#39;3.7&#39;</span></span>
<span id="cb4-2"><a href="#cb4-2" aria-hidden="true"></a></span>
<span id="cb4-3"><a href="#cb4-3" aria-hidden="true"></a><span class="fu">services</span><span class="kw">:</span></span>
<span id="cb4-4"><a href="#cb4-4" aria-hidden="true"></a><span class="at">  </span><span class="fu">prometheus</span><span class="kw">:</span></span>
<span id="cb4-5"><a href="#cb4-5" aria-hidden="true"></a><span class="at">    </span><span class="fu">image</span><span class="kw">:</span><span class="at"> prom/prometheus:v2.44.0</span></span>
<span id="cb4-6"><a href="#cb4-6" aria-hidden="true"></a><span class="at">    </span><span class="fu">container_name</span><span class="kw">:</span><span class="at"> prometheus</span></span>
<span id="cb4-7"><a href="#cb4-7" aria-hidden="true"></a><span class="at">    </span><span class="fu">ports</span><span class="kw">:</span></span>
<span id="cb4-8"><a href="#cb4-8" aria-hidden="true"></a><span class="at">      </span><span class="kw">-</span><span class="at"> </span><span class="st">&quot;9090:9090&quot;</span></span>
<span id="cb4-9"><a href="#cb4-9" aria-hidden="true"></a><span class="at">    </span><span class="fu">volumes</span><span class="kw">:</span></span>
<span id="cb4-10"><a href="#cb4-10" aria-hidden="true"></a><span class="at">      </span><span class="kw">-</span><span class="at"> ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml</span></span>
<span id="cb4-11"><a href="#cb4-11" aria-hidden="true"></a></span>
<span id="cb4-12"><a href="#cb4-12" aria-hidden="true"></a><span class="at">  </span><span class="fu">grafana</span><span class="kw">:</span></span>
<span id="cb4-13"><a href="#cb4-13" aria-hidden="true"></a><span class="at">    </span><span class="fu">image</span><span class="kw">:</span><span class="at"> grafana/grafana:9.5.2</span></span>
<span id="cb4-14"><a href="#cb4-14" aria-hidden="true"></a><span class="at">    </span><span class="fu">container_name</span><span class="kw">:</span><span class="at"> grafana</span></span>
<span id="cb4-15"><a href="#cb4-15" aria-hidden="true"></a><span class="at">    </span><span class="fu">ports</span><span class="kw">:</span></span>
<span id="cb4-16"><a href="#cb4-16" aria-hidden="true"></a><span class="at">      </span><span class="kw">-</span><span class="at"> </span><span class="st">&quot;3000:3000&quot;</span></span>
<span id="cb4-17"><a href="#cb4-17" aria-hidden="true"></a><span class="at">    </span><span class="fu">restart</span><span class="kw">:</span><span class="at"> unless-stopped</span></span>
<span id="cb4-18"><a href="#cb4-18" aria-hidden="true"></a><span class="at">    </span><span class="fu">volumes</span><span class="kw">:</span></span>
<span id="cb4-19"><a href="#cb4-19" aria-hidden="true"></a><span class="at">      </span><span class="kw">-</span><span class="at"> ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources</span></span></code></pre></div>
<ul>
<li>Create protemeus.yml config as below</li>
</ul>
<div class="sourceCode" id="cb5"><pre class="sourceCode yml"><code class="sourceCode yaml"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true"></a><span class="fu">scrape_configs</span><span class="kw">:</span></span>
<span id="cb5-2"><a href="#cb5-2" aria-hidden="true"></a><span class="at">  </span><span class="kw">-</span><span class="at"> </span><span class="fu">job_name</span><span class="kw">:</span><span class="at"> </span><span class="st">&#39;ProductsAppMetrics&#39;</span></span>
<span id="cb5-3"><a href="#cb5-3" aria-hidden="true"></a><span class="at">    </span><span class="fu">metrics_path</span><span class="kw">:</span><span class="at"> </span><span class="st">&#39;/actuator/prometheus&#39;</span></span>
<span id="cb5-4"><a href="#cb5-4" aria-hidden="true"></a><span class="at">    </span><span class="fu">scrape_interval</span><span class="kw">:</span><span class="at"> 3s</span></span>
<span id="cb5-5"><a href="#cb5-5" aria-hidden="true"></a><span class="at">    </span><span class="fu">static_configs</span><span class="kw">:</span></span>
<span id="cb5-6"><a href="#cb5-6" aria-hidden="true"></a><span class="at">      </span><span class="kw">-</span><span class="at"> </span><span class="fu">targets</span><span class="kw">:</span><span class="at"> </span><span class="kw">[</span><span class="st">&#39;host.docker.internal:8080&#39;</span><span class="kw">]</span></span>
<span id="cb5-7"><a href="#cb5-7" aria-hidden="true"></a><span class="at">        </span><span class="fu">labels</span><span class="kw">:</span></span>
<span id="cb5-8"><a href="#cb5-8" aria-hidden="true"></a><span class="at">          </span><span class="fu">application</span><span class="kw">:</span><span class="at"> </span><span class="st">&#39;Products App&#39;</span></span></code></pre></div>
<ul>
<li>Add below code in datasources.yml</li>
</ul>
<div class="sourceCode" id="cb6"><pre class="sourceCode yml"><code class="sourceCode yaml"><span id="cb6-1"><a href="#cb6-1" aria-hidden="true"></a><span class="fu">apiVersion</span><span class="kw">:</span><span class="at"> </span><span class="dv">1</span></span>
<span id="cb6-2"><a href="#cb6-2" aria-hidden="true"></a><span class="fu">datasources</span><span class="kw">:</span></span>
<span id="cb6-3"><a href="#cb6-3" aria-hidden="true"></a><span class="at">  </span><span class="kw">-</span><span class="at"> </span><span class="fu">name</span><span class="kw">:</span><span class="at"> Prometheus</span></span>
<span id="cb6-4"><a href="#cb6-4" aria-hidden="true"></a><span class="at">    </span><span class="fu">type</span><span class="kw">:</span><span class="at"> prometheus</span></span>
<span id="cb6-5"><a href="#cb6-5" aria-hidden="true"></a><span class="at">    </span><span class="fu">access</span><span class="kw">:</span><span class="at"> proxy</span></span>
<span id="cb6-6"><a href="#cb6-6" aria-hidden="true"></a><span class="at">    </span><span class="fu">url</span><span class="kw">:</span><span class="at"> http://prometheus:9090</span></span>
<span id="cb6-7"><a href="#cb6-7" aria-hidden="true"></a><span class="at">    </span><span class="fu">isDefault</span><span class="kw">:</span><span class="at"> </span><span class="ch">true</span></span></code></pre></div>
<p>start the services by running the below command where the <code>docker-compose.yml</code> file is placed</p>
<div class="sourceCode" id="cb7"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb7-1"><a href="#cb7-1" aria-hidden="true"></a><span class="ex">docker-compose</span> up</span></code></pre></div>
<p>Now, Prometheus is accessible via <a href="http://localhost:9090">http://localhost:9090</a> and Grafana is accessible via <a href="http://localhost:3000">http://localhost:3000</a>.</p>
<p><img src="./images/image1-7.png" /></p>
<p>For the grafana, the username &amp; password is <code>admin</code></p>
<p>You can change the password first time. You can create the visualizations.</p>
<p>Create the <code>process_cpu_usage</code> query in prometheus</p>
<p><img src="./images/image1-8.png" /></p>
<p>For creating dashboad in grafana</p>
<ul>
<li><p>Step 1 <img src="./images/image1-9.png" /></p></li>
<li><p>Step 2 <img src="./images/image1-12.png" /></p></li>
<li><p>Step 3 <img src="./images/image1-13.png" /></p></li>
<li><p>Step 4 <img src="./images/image1-14.png" /></p></li>
</ul>
