<h1 id="lab-multiple-profiles-in-spring-application">Lab: Multiple profiles in Spring application</h1>
<h2 id="objective">Objective:</h2>
<p>To understand the concept of profiles in spring boot &amp; configure different environments using profiles.</p>
<h2 id="tasks">Tasks</h2>
<h3 id="task-1-run-the-application-before-creating-profiles">Task 1: Run the application before creating profiles</h3>
<p><img src="./images/image3-1.png" /></p>
<h3 id="task-2-creating-profiles">Task 2: Creating profiles</h3>
<ul>
<li>create multiple configurations ( <code>application.yml</code>) files</li>
</ul>
<p><img src="./images/image3-2.png" /></p>
<ul>
<li>Modify the <code>application.yml</code> to have code below</li>
</ul>
<div class="sourceCode" id="cb1"><pre class="sourceCode yml"><code class="sourceCode yaml"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true"></a><span class="fu">spring</span><span class="kw">:</span></span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true"></a><span class="at">  </span><span class="fu">profiles</span><span class="kw">:</span></span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true"></a><span class="at">   </span><span class="fu">active</span><span class="kw">:</span><span class="at"> dev</span></span></code></pre></div>
<ul>
<li>Create <code>application-dev.yml</code> as below</li>
</ul>
<div class="sourceCode" id="cb2"><pre class="sourceCode yml"><code class="sourceCode yaml"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true"></a><span class="fu">spring</span><span class="kw">:</span></span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true"></a><span class="at">  </span><span class="fu">application</span><span class="kw">:</span></span>
<span id="cb2-3"><a href="#cb2-3" aria-hidden="true"></a><span class="at">    </span><span class="fu">name</span><span class="kw">:</span><span class="at"> productsapp-dev</span></span>
<span id="cb2-4"><a href="#cb2-4" aria-hidden="true"></a><span class="at">  </span><span class="fu">datasource</span><span class="kw">:</span></span>
<span id="cb2-5"><a href="#cb2-5" aria-hidden="true"></a><span class="at">    </span><span class="fu">url</span><span class="kw">:</span><span class="at"> jdbc:mysql://localhost:3306/productsappv2</span></span>
<span id="cb2-6"><a href="#cb2-6" aria-hidden="true"></a><span class="at">    </span><span class="fu">username</span><span class="kw">:</span><span class="at"> root</span></span>
<span id="cb2-7"><a href="#cb2-7" aria-hidden="true"></a><span class="at">    </span><span class="fu">password</span><span class="kw">:</span><span class="at"> root</span></span>
<span id="cb2-8"><a href="#cb2-8" aria-hidden="true"></a><span class="at">    </span><span class="fu">driverClassName</span><span class="kw">:</span><span class="at"> com.mysql.cj.jdbc.Driver</span></span>
<span id="cb2-9"><a href="#cb2-9" aria-hidden="true"></a><span class="at">  </span><span class="fu">jpa</span><span class="kw">:</span></span>
<span id="cb2-10"><a href="#cb2-10" aria-hidden="true"></a><span class="at">    </span><span class="fu">show-sql</span><span class="kw">:</span><span class="at"> </span><span class="ch">true</span></span>
<span id="cb2-11"><a href="#cb2-11" aria-hidden="true"></a><span class="at">    </span><span class="fu">hibernate</span><span class="kw">:</span></span>
<span id="cb2-12"><a href="#cb2-12" aria-hidden="true"></a><span class="at">      </span><span class="fu">format_sql</span><span class="kw">:</span><span class="at"> </span><span class="ch">true</span></span>
<span id="cb2-13"><a href="#cb2-13" aria-hidden="true"></a><span class="at">      </span><span class="fu">ddl-auto</span><span class="kw">:</span><span class="at"> update</span></span>
<span id="cb2-14"><a href="#cb2-14" aria-hidden="true"></a></span>
<span id="cb2-15"><a href="#cb2-15" aria-hidden="true"></a><span class="fu">springdoc</span><span class="kw">:</span></span>
<span id="cb2-16"><a href="#cb2-16" aria-hidden="true"></a><span class="at">  </span><span class="fu">api-docs</span><span class="kw">:</span></span>
<span id="cb2-17"><a href="#cb2-17" aria-hidden="true"></a><span class="at">    </span><span class="fu">path</span><span class="kw">:</span><span class="at"> /api-docs</span></span>
<span id="cb2-18"><a href="#cb2-18" aria-hidden="true"></a><span class="at">  </span><span class="fu">swagger-ui</span><span class="kw">:</span></span>
<span id="cb2-19"><a href="#cb2-19" aria-hidden="true"></a><span class="at">    </span><span class="fu">try-it-out-enabled</span><span class="kw">:</span><span class="at"> </span><span class="ch">true</span></span>
<span id="cb2-20"><a href="#cb2-20" aria-hidden="true"></a><span class="at">    </span><span class="fu">default-model-expand-depth</span><span class="kw">:</span><span class="at"> </span><span class="dv">-1</span></span>
<span id="cb2-21"><a href="#cb2-21" aria-hidden="true"></a></span>
<span id="cb2-22"><a href="#cb2-22" aria-hidden="true"></a><span class="fu">management</span><span class="kw">:</span></span>
<span id="cb2-23"><a href="#cb2-23" aria-hidden="true"></a><span class="at">  </span><span class="fu">endpoints</span><span class="kw">:</span></span>
<span id="cb2-24"><a href="#cb2-24" aria-hidden="true"></a><span class="at">    </span><span class="fu">web</span><span class="kw">:</span></span>
<span id="cb2-25"><a href="#cb2-25" aria-hidden="true"></a><span class="at">      </span><span class="fu">exposure</span><span class="kw">:</span></span>
<span id="cb2-26"><a href="#cb2-26" aria-hidden="true"></a><span class="at">        </span><span class="fu">include</span><span class="kw">:</span><span class="at"> </span><span class="st">&quot;*&quot;</span></span></code></pre></div>
<ul>
<li>Create <code>application-prod.yml</code> as below</li>
</ul>
<div class="sourceCode" id="cb3"><pre class="sourceCode yml"><code class="sourceCode yaml"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true"></a><span class="fu">spring</span><span class="kw">:</span></span>
<span id="cb3-2"><a href="#cb3-2" aria-hidden="true"></a><span class="at">  </span><span class="fu">application</span><span class="kw">:</span></span>
<span id="cb3-3"><a href="#cb3-3" aria-hidden="true"></a><span class="at">    </span><span class="fu">name</span><span class="kw">:</span><span class="at"> productsapp-prod</span></span>
<span id="cb3-4"><a href="#cb3-4" aria-hidden="true"></a><span class="at">  </span><span class="fu">datasource</span><span class="kw">:</span></span>
<span id="cb3-5"><a href="#cb3-5" aria-hidden="true"></a><span class="at">    </span><span class="fu">url</span><span class="kw">:</span><span class="at"> jdbc:mysql://localhost:3306/productsappv2_prod</span></span>
<span id="cb3-6"><a href="#cb3-6" aria-hidden="true"></a><span class="at">    </span><span class="fu">username</span><span class="kw">:</span><span class="at"> root</span></span>
<span id="cb3-7"><a href="#cb3-7" aria-hidden="true"></a><span class="at">    </span><span class="fu">password</span><span class="kw">:</span><span class="at"> root</span></span>
<span id="cb3-8"><a href="#cb3-8" aria-hidden="true"></a><span class="at">    </span><span class="fu">driverClassName</span><span class="kw">:</span><span class="at"> com.mysql.cj.jdbc.Driver</span></span>
<span id="cb3-9"><a href="#cb3-9" aria-hidden="true"></a><span class="at">  </span><span class="fu">jpa</span><span class="kw">:</span></span>
<span id="cb3-10"><a href="#cb3-10" aria-hidden="true"></a><span class="at">    </span><span class="fu">show-sql</span><span class="kw">:</span><span class="at"> </span><span class="ch">true</span></span>
<span id="cb3-11"><a href="#cb3-11" aria-hidden="true"></a><span class="at">    </span><span class="fu">hibernate</span><span class="kw">:</span></span>
<span id="cb3-12"><a href="#cb3-12" aria-hidden="true"></a><span class="at">      </span><span class="fu">format_sql</span><span class="kw">:</span><span class="at"> </span><span class="ch">true</span></span>
<span id="cb3-13"><a href="#cb3-13" aria-hidden="true"></a><span class="at">      </span><span class="fu">ddl-auto</span><span class="kw">:</span><span class="at"> update</span></span>
<span id="cb3-14"><a href="#cb3-14" aria-hidden="true"></a></span>
<span id="cb3-15"><a href="#cb3-15" aria-hidden="true"></a><span class="fu">springdoc</span><span class="kw">:</span></span>
<span id="cb3-16"><a href="#cb3-16" aria-hidden="true"></a><span class="at">  </span><span class="fu">api-docs</span><span class="kw">:</span></span>
<span id="cb3-17"><a href="#cb3-17" aria-hidden="true"></a><span class="at">    </span><span class="fu">path</span><span class="kw">:</span><span class="at"> /api-docs</span></span>
<span id="cb3-18"><a href="#cb3-18" aria-hidden="true"></a><span class="at">  </span><span class="fu">swagger-ui</span><span class="kw">:</span></span>
<span id="cb3-19"><a href="#cb3-19" aria-hidden="true"></a><span class="at">    </span><span class="fu">try-it-out-enabled</span><span class="kw">:</span><span class="at"> </span><span class="ch">true</span></span>
<span id="cb3-20"><a href="#cb3-20" aria-hidden="true"></a><span class="at">    </span><span class="fu">default-model-expand-depth</span><span class="kw">:</span><span class="at"> </span><span class="dv">-1</span></span>
<span id="cb3-21"><a href="#cb3-21" aria-hidden="true"></a></span>
<span id="cb3-22"><a href="#cb3-22" aria-hidden="true"></a><span class="fu">management</span><span class="kw">:</span></span>
<span id="cb3-23"><a href="#cb3-23" aria-hidden="true"></a><span class="at">  </span><span class="fu">endpoints</span><span class="kw">:</span></span>
<span id="cb3-24"><a href="#cb3-24" aria-hidden="true"></a><span class="at">    </span><span class="fu">web</span><span class="kw">:</span></span>
<span id="cb3-25"><a href="#cb3-25" aria-hidden="true"></a><span class="at">      </span><span class="fu">exposure</span><span class="kw">:</span></span>
<span id="cb3-26"><a href="#cb3-26" aria-hidden="true"></a><span class="at">        </span><span class="fu">include</span><span class="kw">:</span><span class="at"> </span><span class="kw">[</span><span class="at"> </span><span class="st">&quot;prometheus&quot;</span><span class="at"> </span><span class="kw">]</span></span></code></pre></div>
<ul>
<li>observe the differences in the two files, you can have different configurations here.</li>
<li>When you start the application, observe the profile set</li>
</ul>
<p><img src="./images/image3-3.png" /></p>
<h3 id="task-3-overriding-the-active-profile">Task 3: Overriding the active profile</h3>
<p>Edit the Configuration in intellij</p>
<p><img src="./images/image3-4.png" /></p>
<p>Set the environment variable to override</p>
<p><img src="./images/image3-5.png" /></p>
<p>Run application as you normally do</p>
<h2 id="output">Output</h2>
<p><img src="./images/image3-6.png" /></p>
<h3 id="task-4-secure-application">Task 4: Secure application</h3>
<ul>
<li>Let prod environment use environment variables</li>
</ul>
<p><img src="./images/image3-7.png" /></p>
<p><img src="./images/image3-8.png" /></p>
