<h1 id="lab-understanding-modules--exports-in-node">Lab: Understanding Modules &amp; Exports in Node</h1>
<h2 id="objectives">Objectives</h2>
<ul>
<li>Understand the concept of modules in Node.js</li>
<li>Grasp the difference between common JS modules and ES modules</li>
<li>Create and export functions and variables from modules</li>
<li>Import modules into other files</li>
<li>Organize code using modules</li>
</ul>
<h2 id="tasks">Tasks</h2>
<h3 id="task-1-create-a-new-module">Task 1: Create a new module</h3>
<ul>
<li>Create a new JavaScript file (e.g., <code>logger.js</code> ) to serve as your module</li>
</ul>
<h3 id="task-2-define-functions-and-variables">Task 2: Define functions and variables</h3>
<ul>
<li>Inside the module, define functions and variables that you want to export</li>
<li>Export functions and variables</li>
<li>Example</li>
</ul>
<p><img src="./images/image3-1.png" /></p>
<h3 id="task-3-import-the-module-into-another-file">Task 3: Import the module into another file</h3>
<ul>
<li>Create a new JavaScript file (e.g., <code>app.js</code>)</li>
<li>Use the <code>require</code> function to import the module</li>
<li>Use the exported functions and variables</li>
</ul>
<p><img src="./images/image3-2.png" /></p>
<h3 id="task-4-execute-the-app">Task 4: Execute the app</h3>
<ul>
<li>Open a terminal or command prompt and navigate to the project directory</li>
<li>Run the following command to execute the app</li>
</ul>
<div class="sourceCode" id="cb1"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true"></a><span class="ex">node</span> app.js</span></code></pre></div>
<h2 id="output">Output:</h2>
<p><img src="./images/image3-3.png" /></p>
