<h1 id="lab-installation-of-node-js">Lab: Installation of Node JS</h1>
<h2 id="objectives">Objectives:</h2>
<ul>
    <li>Learn about Node.js as a JavaScript runtime environment</li>
    <li>Grasp its event-driven architecture and non-blocking I/O capabilities</li>
    <li>Install Node.js and npm</li>
    <li>Understand the role of npm (Node Package Manager)</li>
</ul>
<h2 id="tasks">Tasks:</h2>
<h3 id="task-1-install-nodejs">Task 1: Install Nodejs</h3>
<ul>
    <li>Visit the official Node.js website(<a href="https://nodejs.org">nodejs.org</a>)</li>
    <li>Download the latest LTS (Long-Term Support) version for your operating system</li>
    <li>Follow the installation instructions provided</li>
    <li>Open a terminal or command prompt and verify the installation by running</li>
</ul>
<div class="sourceCode" id="cb1">
    <pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true"></a><span class="ex">node</span> -v</span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true"></a><span class="ex">npm</span> -v</span></code></pre>
</div>
<p><img src="./images/image1-1.png" /></p>
<h3 id="task-2-running-repl">Task 2: Running REPL</h3>
<p>Running the node in read–eval–print loop (REPL)</p>
<div class="sourceCode" id="cb2">
    <pre
        class="sourceCode bash"><code class="sourceCode bash"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true"></a><span class="ex">node</span></span></code></pre>
</div>
<p><img src="./images/image1-2.png" /></p>
<h3 id="task-3-hello-world-node">Task 3: Hello World Node</h3>
<ul>
    <li>Choose a location on your computer where you want to store your Node.js projects</li>
    <li>Create a new folder for your project</li>
    <li>Navigate to the project directory in your terminal</li>
    <li>Run the following command to initialize a <code>package.json</code> file:
        <div class="sourceCode" id="cb3">
            <pre
                class="sourceCode bash"><code class="sourceCode bash"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true"></a><span class="ex">npm</span> init -y</span></code></pre>
        </div>
    </li>
    <li>This will create a <code>package.json</code> file with default settings</li>
</ul>
<h3 id="task-4-test-node-js-environment">Task 4: Test Node JS Environment</h3>
<ul>
    <li>Create a new JavaScript file (e.g., <code>hello.js</code>)</li>
    <li>Write a simple Node.js script to print a message to the console:
        <div class="sourceCode" id="cb4">
            <pre
                class="sourceCode js"><code class="sourceCode javascript"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true"></a><span class="bu">console</span><span class="op">.</span><span class="fu">log</span>(<span class="st">&quot;Hello, Node.js!&quot;</span>)<span class="op">;</span></span></code></pre>
        </div>
    </li>
    <li>Run the script using <code>node hello.js</code></li>
    <li>Verify that the message is printed in the terminal</li>
</ul>