<h1 id="lab-creating-and-executing-a-simple-app">Lab: Creating and executing a simple app</h1>
<h2 id="objectives">Objectives</h2>
<ul>
<li>Learn about the structure and components of a Node.js application</li>
</ul>
<h2 id="tasks">Tasks:</h2>
<h3 id="task-1-create-a-simple-nodejs-app">Task 1: Create a simple Node.js app</h3>
<ul>
<li>Set up a new project directory</li>
<li>Write a JavaScript file containing the app's logic(Example: <code>app.js</code>)</li>
<li>In the JavaScript file, write code to perform a simple task</li>
</ul>
<p><img src="./images/image2-1.png" /></p>
<h3 id="task-2-execute-the-app">Task 2: Execute the app</h3>
<ul>
<li>Open a terminal or command prompt and navigate to the project directory</li>
<li>Run the following command to execute the app</li>
</ul>
<div class="sourceCode" id="cb1"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true"></a><span class="ex">node</span> app.js</span></code></pre></div>
<h2 id="output">Output</h2>
<p><img src="./images/image2-2.png" /></p>
