<h1 id="lab-implementing-logging-in-events-management-application">Lab: Implementing Logging in Events Management Application</h1>
<h2 id="tasks">Tasks</h2>
<h3 id="task-1-enable-log4j2-in-application">Task 1: Enable Log4J2 in application</h3>
<p>Since we had already included Lombok as dependency on our projects</p>
<p>use <code>@Log4j2</code></p>
<p>or we can use common logging provided by spring</p>
<p>Example:</p>
<p><img src="./images/image8-4.png" /></p>
<h3 id="task-2-trigger-endpoint">Task 2: Trigger endpoint</h3>
<p>Trigger the endpoint in postman tool</p>
<h2 id="output">Output</h2>
<p>View the log in terminal</p>
<p>Similarly add the log for info, debug, error whereever necessary in application which would be helpful for auditing.</p>
