<h1 id="lab-demonstration-string-literals">Lab: Demonstration String Literals</h1>
<h2 id="tasks">Tasks:</h2>
<h3 id="task-1-create-a-html-file">Task 1: Create a HTML file</h3>
<p>Create a file called as <code>index.html</code>. Enter the below code</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode html"><code class="sourceCode html"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true"></a><span class="dt">&lt;!DOCTYPE </span>html<span class="dt">&gt;</span></span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true"></a><span class="kw">&lt;html</span><span class="ot"> lang=</span><span class="st">&quot;en&quot;</span><span class="kw">&gt;</span></span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true"></a><span class="kw">&lt;head&gt;</span></span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true"></a>    <span class="kw">&lt;meta</span><span class="ot"> charset=</span><span class="st">&quot;UTF-8&quot;</span><span class="kw">&gt;</span></span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true"></a>    <span class="kw">&lt;meta</span><span class="ot"> name=</span><span class="st">&quot;viewport&quot;</span><span class="ot"> content=</span><span class="st">&quot;width=device-width, initial-scale=1.0&quot;</span><span class="kw">&gt;</span></span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true"></a>    <span class="kw">&lt;title&gt;</span>Adding Two Numbers<span class="kw">&lt;/title&gt;</span></span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true"></a>    <span class="kw">&lt;script&gt;</span></span>
<span id="cb1-8"><a href="#cb1-8" aria-hidden="true"></a>        <span class="kw">function</span> <span class="fu">validate</span>(){</span>
<span id="cb1-9"><a href="#cb1-9" aria-hidden="true"></a>            <span class="co">// let n1 = Number(document.getElementById(&quot;num1&quot;).value);</span></span>
<span id="cb1-10"><a href="#cb1-10" aria-hidden="true"></a>            <span class="co">// let n2 = Number(document.getElementById(&quot;num2&quot;).value);</span></span>
<span id="cb1-11"><a href="#cb1-11" aria-hidden="true"></a></span>
<span id="cb1-12"><a href="#cb1-12" aria-hidden="true"></a>            <span class="kw">let</span> n1 <span class="op">=</span> <span class="bu">Number</span>(<span class="bu">document</span><span class="op">.</span><span class="fu">querySelector</span>(<span class="st">&quot;#num1&quot;</span>)<span class="op">.</span><span class="at">value</span>)<span class="op">;</span></span>
<span id="cb1-13"><a href="#cb1-13" aria-hidden="true"></a>            <span class="kw">let</span> n2 <span class="op">=</span> <span class="bu">Number</span>(<span class="bu">document</span><span class="op">.</span><span class="fu">querySelector</span>(<span class="st">&quot;#num2&quot;</span>)<span class="op">.</span><span class="at">value</span>)<span class="op">;</span></span>
<span id="cb1-14"><a href="#cb1-14" aria-hidden="true"></a></span>
<span id="cb1-15"><a href="#cb1-15" aria-hidden="true"></a></span>
<span id="cb1-16"><a href="#cb1-16" aria-hidden="true"></a>            <span class="cf">if</span> (<span class="pp">isNaN</span>(n1)<span class="op">||</span><span class="pp">isNaN</span>(n2)) {</span>
<span id="cb1-17"><a href="#cb1-17" aria-hidden="true"></a>                <span class="fu">alert</span>(<span class="st">&quot;The number entered is not a number&quot;</span>)<span class="op">;</span></span>
<span id="cb1-18"><a href="#cb1-18" aria-hidden="true"></a>            } <span class="cf">else</span> {</span>
<span id="cb1-19"><a href="#cb1-19" aria-hidden="true"></a>                <span class="fu">alert</span>(<span class="vs">`</span><span class="sc">${</span>n1<span class="sc">}</span><span class="vs"> + </span><span class="sc">${</span>n2<span class="sc">}</span><span class="vs"> = </span><span class="sc">${</span>n1<span class="op">+</span>n2<span class="sc">}</span><span class="vs">`</span>)<span class="op">;</span></span>
<span id="cb1-20"><a href="#cb1-20" aria-hidden="true"></a>            }</span>
<span id="cb1-21"><a href="#cb1-21" aria-hidden="true"></a>        }</span>
<span id="cb1-22"><a href="#cb1-22" aria-hidden="true"></a>    <span class="kw">&lt;/script&gt;</span></span>
<span id="cb1-23"><a href="#cb1-23" aria-hidden="true"></a><span class="kw">&lt;/head&gt;</span></span>
<span id="cb1-24"><a href="#cb1-24" aria-hidden="true"></a><span class="kw">&lt;body&gt;</span></span>
<span id="cb1-25"><a href="#cb1-25" aria-hidden="true"></a>    <span class="kw">&lt;h1&gt;</span>Example: Addition of 2 Numbers<span class="kw">&lt;/h1&gt;</span></span>
<span id="cb1-26"><a href="#cb1-26" aria-hidden="true"></a>    <span class="kw">&lt;form</span><span class="ot"> action=</span><span class="st">&quot;calculate&quot;</span><span class="kw">&gt;</span></span>
<span id="cb1-27"><a href="#cb1-27" aria-hidden="true"></a>        <span class="kw">&lt;fieldset&gt;</span></span>
<span id="cb1-28"><a href="#cb1-28" aria-hidden="true"></a>            <span class="kw">&lt;legend&gt;</span>Calculate<span class="kw">&lt;/legend&gt;</span></span>
<span id="cb1-29"><a href="#cb1-29" aria-hidden="true"></a>            <span class="kw">&lt;label</span><span class="ot"> for=</span><span class="st">&quot;num1&quot;</span><span class="kw">&gt;</span>Number 1: <span class="kw">&lt;/label&gt;</span></span>
<span id="cb1-30"><a href="#cb1-30" aria-hidden="true"></a>            <span class="kw">&lt;input</span><span class="ot"> type=</span><span class="st">&quot;text&quot;</span><span class="ot"> name=</span><span class="st">&quot;num1&quot;</span><span class="ot"> id=</span><span class="st">&quot;num1&quot;</span><span class="kw">&gt;</span></span>
<span id="cb1-31"><a href="#cb1-31" aria-hidden="true"></a>            <span class="kw">&lt;br&gt;</span></span>
<span id="cb1-32"><a href="#cb1-32" aria-hidden="true"></a>            <span class="kw">&lt;br&gt;</span></span>
<span id="cb1-33"><a href="#cb1-33" aria-hidden="true"></a></span>
<span id="cb1-34"><a href="#cb1-34" aria-hidden="true"></a>            <span class="kw">&lt;label</span><span class="ot"> for=</span><span class="st">&quot;num2&quot;</span><span class="kw">&gt;</span>Number 2: <span class="kw">&lt;/label&gt;</span></span>
<span id="cb1-35"><a href="#cb1-35" aria-hidden="true"></a>            <span class="kw">&lt;input</span><span class="ot"> type=</span><span class="st">&quot;text&quot;</span><span class="ot"> name=</span><span class="st">&quot;num2&quot;</span><span class="ot"> id=</span><span class="st">&quot;num2&quot;</span><span class="kw">&gt;</span></span>
<span id="cb1-36"><a href="#cb1-36" aria-hidden="true"></a>            <span class="kw">&lt;br&gt;</span></span>
<span id="cb1-37"><a href="#cb1-37" aria-hidden="true"></a>            <span class="kw">&lt;br&gt;</span></span>
<span id="cb1-38"><a href="#cb1-38" aria-hidden="true"></a>            </span>
<span id="cb1-39"><a href="#cb1-39" aria-hidden="true"></a>            <span class="kw">&lt;input</span><span class="ot"> type=</span><span class="st">&quot;button&quot;</span><span class="ot"> value=</span><span class="st">&quot;Add&quot;</span><span class="ot"> onclick=</span><span class="st">&quot;validate()&quot;</span><span class="kw">/&gt;</span>    </span>
<span id="cb1-40"><a href="#cb1-40" aria-hidden="true"></a>        <span class="kw">&lt;/fieldset&gt;</span></span>
<span id="cb1-41"><a href="#cb1-41" aria-hidden="true"></a>        </span>
<span id="cb1-42"><a href="#cb1-42" aria-hidden="true"></a>    <span class="kw">&lt;/form&gt;</span></span>
<span id="cb1-43"><a href="#cb1-43" aria-hidden="true"></a><span class="kw">&lt;/body&gt;</span></span>
<span id="cb1-44"><a href="#cb1-44" aria-hidden="true"></a><span class="kw">&lt;/html&gt;</span></span></code></pre></div>
<h3 id="output">Output:</h3>
<p><img src="./images/image4-1.png" /></p>
<p><img src="./images/image4.png" /></p>
