<h1 id="problem-a-random-quotes-application">Problem: A Random Quotes Application</h1>
<p>An Organisation's Marketing department wants an application that can fetch Random Quotes from the Internet for their Marketing Project. You are supposed to bring random Quotes and display them in the application.</p>
<ul>
<li>Create Quotes App UI using HTML, CSS</li>
<li>Write Javascript Code to interact with the UI</li>
<li>Fetch API Data using Quotes API</li>
</ul>
<p>As the developer in the team, you have to perform the following tasks:</p>
<h2 id="tasks">Tasks:</h2>
<h3 id="task-1-create-a-project-directory">Task 1: Create a project directory</h3>
<p>Open your visual studio code and create an empty directory with the project name</p>
<h3 id="task-2-create-indexhtml-stylecss-and-indexjs-file">Task 2: Create index.html, style.css, and index.js file</h3>
<p>Create index.html, style.css, and index.js files</p>
<h3 id="task-3-add-html-code">Task 3: Add HTML Code</h3>
<p>Add HTML code to index.html file. Refer to the Link for the HTML code.</p>
<h3 id="task-4-add-css-code">Task 4: Add CSS Code</h3>
<p>Add CSS code to the style.css file. Refer to the Link for the CSS code.</p>
<h3 id="task-5-add-js-code">Task 5: Add JS Code</h3>
<p>Add JS code to index.js file. Refer to the Link for the JS code.</p>
<h3 id="task-6-start-live-server">Task 6: Start Live Server</h3>
<p>Use VS Code Live Server(Install extension) <img src="./images/prob03-1.png" /></p>
<h3 id="task-7-output">Task 7: Output</h3>
<p>Open the Web browser for the Output <img src="./images/prob03-2.png" /></p>
