<h1 id="problem-todolist-application-for-all-employees">Problem: ToDoList Application for all Employees</h1>
<p>An Organisation wants to create an internal Todolist Application for all their employees to use.</p>
<ul>
<li>Create Todolist UI using HTML, CSS</li>
<li>Write Javascript Code to interact with the UI</li>
<li>Store the Data in Local Storage using Javascript Functions</li>
</ul>
<p>As the developer in the team, you have to perform the following tasks:</p>
<h2 id="tasks">Tasks:</h2>
<h3 id="task-1-create-a-project-directory">Task 1: Create a project directory</h3>
<ol>
<li>Open your visual studio code and create an empty directory with the project name.</li>
</ol>
<div class="sourceCode" id="cb1"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true"></a>$ <span class="fu">mkdir</span> jstodolistapp</span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true"></a>$ <span class="bu">cd</span> jstodolistapp</span></code></pre></div>
<p><img src="./images/prob02-1.png" /></p>
<h3 id="task-2-create-indexhtml-file">Task 2: Create index.html file</h3>
<ol>
<li>Create <code>index.html</code> file inside the project directory</li>
</ol>
<div class="sourceCode" id="cb2"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true"></a>$ <span class="fu">touch</span> index.html</span></code></pre></div>
<p><strong>Use Graphical User Interface if the touch command does not work</strong></p>
<p><img src="./images/prob02-2.png" /></p>
<h3 id="task-3-create-an-indexcss-file">Task 3: Create an index.css file</h3>
<ol>
<li>Create an index.css file inside the project directory</li>
</ol>
<div class="sourceCode" id="cb3"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true"></a>$ <span class="fu">touch</span> index.css</span></code></pre></div>
<p><strong>Use Graphical User Interface if the touch command does not work</strong> <img src="./images/prob02-3.png" /></p>
<h3 id="task-4-create-an-indexjs-file">Task 4: Create an index.js file</h3>
<ol>
<li>Create an index.js file inside the project directory</li>
</ol>
<div class="sourceCode" id="cb4"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true"></a>$ <span class="fu">touch</span> index.js</span></code></pre></div>
<p><strong>Use Graphical User Interface if the touch command does not work</strong></p>
<p><img src="./images/prob02-4.png" /></p>
<h3 id="task-5-add-html-code">Task 5: Add HTML Code</h3>
<ol>
<li>Add HTML code to <code>index.html</code> file between <code>&lt;body&gt;</code> tag.</li>
</ol>
<div class="sourceCode" id="cb5"><pre class="sourceCode html"><code class="sourceCode html"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true"></a><span class="kw">&lt;form</span><span class="ot"> class=</span><span class="st">&quot;form&quot;</span><span class="kw">&gt;</span></span>
<span id="cb5-2"><a href="#cb5-2" aria-hidden="true"></a>      <span class="kw">&lt;input</span></span>
<span id="cb5-3"><a href="#cb5-3" aria-hidden="true"></a><span class="ot">        type=</span><span class="st">&quot;text&quot;</span></span>
<span id="cb5-4"><a href="#cb5-4" aria-hidden="true"></a><span class="ot">        class=</span><span class="st">&quot;input&quot;</span></span>
<span id="cb5-5"><a href="#cb5-5" aria-hidden="true"></a><span class="ot">        placeholder=</span><span class="st">&quot;Enter your task&quot;</span></span>
<span id="cb5-6"><a href="#cb5-6" aria-hidden="true"></a><span class="ot">        autocomplete=</span><span class="st">&quot;off&quot;</span></span>
<span id="cb5-7"><a href="#cb5-7" aria-hidden="true"></a>      <span class="kw">/&gt;</span></span>
<span id="cb5-8"><a href="#cb5-8" aria-hidden="true"></a>      <span class="kw">&lt;ul</span><span class="ot"> class=</span><span class="st">&quot;list&quot;</span><span class="kw">&gt;</span></span>
<span id="cb5-9"><a href="#cb5-9" aria-hidden="true"></a>      <span class="kw">&lt;/ul&gt;</span></span>
<span id="cb5-10"><a href="#cb5-10" aria-hidden="true"></a>    <span class="kw">&lt;/form&gt;</span></span></code></pre></div>
<p><img src="./images/prob02-5.png" /></p>
<h3 id="task-6-add-css-code">Task 6: Add CSS Code</h3>
<ol>
<li>Add CSS code to the style.css file.</li>
</ol>
<div class="sourceCode" id="cb6"><pre class="sourceCode css"><code class="sourceCode css"><span id="cb6-1"><a href="#cb6-1" aria-hidden="true"></a>body{</span>
<span id="cb6-2"><a href="#cb6-2" aria-hidden="true"></a>    <span class="kw">margin</span>: <span class="dv">0</span><span class="op">;</span></span>
<span id="cb6-3"><a href="#cb6-3" aria-hidden="true"></a>    <span class="kw">display</span>: flex<span class="op">;</span></span>
<span id="cb6-4"><a href="#cb6-4" aria-hidden="true"></a>    <span class="kw">justify-content</span>: <span class="dv">center</span><span class="op">;</span></span>
<span id="cb6-5"><a href="#cb6-5" aria-hidden="true"></a>    <span class="kw">background-color</span>: <span class="cn">greenyellow</span><span class="op">;</span></span>
<span id="cb6-6"><a href="#cb6-6" aria-hidden="true"></a>}</span>
<span id="cb6-7"><a href="#cb6-7" aria-hidden="true"></a></span>
<span id="cb6-8"><a href="#cb6-8" aria-hidden="true"></a><span class="fu">.form</span>{</span>
<span id="cb6-9"><a href="#cb6-9" aria-hidden="true"></a>    <span class="kw">position</span>: <span class="dv">absolute</span><span class="op">;</span></span>
<span id="cb6-10"><a href="#cb6-10" aria-hidden="true"></a>    <span class="kw">top</span>: <span class="dv">30</span><span class="dt">%</span><span class="op">;</span></span>
<span id="cb6-11"><a href="#cb6-11" aria-hidden="true"></a>    <span class="kw">box-shadow</span>: <span class="dv">0</span> <span class="dv">4</span><span class="dt">px</span> <span class="dv">8</span><span class="dt">px</span> <span class="fu">rgba(</span><span class="dv">0</span><span class="op">,</span><span class="dv">0</span><span class="op">,</span><span class="dv">0</span><span class="op">,</span><span class="dv">.3</span><span class="fu">)</span><span class="op">;</span></span>
<span id="cb6-12"><a href="#cb6-12" aria-hidden="true"></a>    <span class="kw">width</span>: <span class="dv">400</span><span class="dt">px</span><span class="op">;</span></span>
<span id="cb6-13"><a href="#cb6-13" aria-hidden="true"></a>    <span class="kw">background-color</span>:<span class="cn">yellow</span><span class="op">;</span></span>
<span id="cb6-14"><a href="#cb6-14" aria-hidden="true"></a>    <span class="kw">border-radius</span>: <span class="dv">10</span><span class="dt">px</span><span class="op">;</span></span>
<span id="cb6-15"><a href="#cb6-15" aria-hidden="true"></a>}</span>
<span id="cb6-16"><a href="#cb6-16" aria-hidden="true"></a></span>
<span id="cb6-17"><a href="#cb6-17" aria-hidden="true"></a><span class="fu">.input</span>{</span>
<span id="cb6-18"><a href="#cb6-18" aria-hidden="true"></a>    <span class="kw">width</span>: <span class="dv">100</span><span class="dt">%</span><span class="op">;</span></span>
<span id="cb6-19"><a href="#cb6-19" aria-hidden="true"></a>    <span class="kw">box-sizing</span>: <span class="dv">border-box</span><span class="op">;</span></span>
<span id="cb6-20"><a href="#cb6-20" aria-hidden="true"></a>    <span class="kw">padding</span>: <span class="dv">20</span><span class="dt">px</span><span class="op">;</span></span>
<span id="cb6-21"><a href="#cb6-21" aria-hidden="true"></a>    <span class="kw">border-radius</span>: <span class="dv">10</span><span class="dt">px</span> <span class="dv">10</span><span class="dt">px</span> <span class="dv">0</span> <span class="dv">0</span><span class="op">;</span></span>
<span id="cb6-22"><a href="#cb6-22" aria-hidden="true"></a>    <span class="kw">border</span>: <span class="dv">none</span><span class="op">;</span></span>
<span id="cb6-23"><a href="#cb6-23" aria-hidden="true"></a>    <span class="kw">font-size</span>: <span class="dv">20</span><span class="dt">px</span><span class="op">;</span></span>
<span id="cb6-24"><a href="#cb6-24" aria-hidden="true"></a>    <span class="kw">font-family</span>: <span class="dv">cursive</span><span class="op">;</span></span>
<span id="cb6-25"><a href="#cb6-25" aria-hidden="true"></a>}</span>
<span id="cb6-26"><a href="#cb6-26" aria-hidden="true"></a></span>
<span id="cb6-27"><a href="#cb6-27" aria-hidden="true"></a><span class="fu">.input</span><span class="in">::placeholder</span>{</span>
<span id="cb6-28"><a href="#cb6-28" aria-hidden="true"></a>    <span class="kw">color</span>: <span class="cn">lightgray</span><span class="op">;</span></span>
<span id="cb6-29"><a href="#cb6-29" aria-hidden="true"></a>}</span>
<span id="cb6-30"><a href="#cb6-30" aria-hidden="true"></a></span>
<span id="cb6-31"><a href="#cb6-31" aria-hidden="true"></a><span class="fu">.list</span>{</span>
<span id="cb6-32"><a href="#cb6-32" aria-hidden="true"></a>    <span class="kw">padding</span>: <span class="dv">0</span><span class="op">;</span></span>
<span id="cb6-33"><a href="#cb6-33" aria-hidden="true"></a>    <span class="kw">margin</span>: <span class="dv">0</span><span class="op">;</span></span>
<span id="cb6-34"><a href="#cb6-34" aria-hidden="true"></a>}</span>
<span id="cb6-35"><a href="#cb6-35" aria-hidden="true"></a></span>
<span id="cb6-36"><a href="#cb6-36" aria-hidden="true"></a><span class="fu">.list</span> li{</span>
<span id="cb6-37"><a href="#cb6-37" aria-hidden="true"></a>    <span class="kw">list-style-type</span>: <span class="dv">none</span><span class="op">;</span></span>
<span id="cb6-38"><a href="#cb6-38" aria-hidden="true"></a>    <span class="kw">padding</span>: <span class="dv">20</span><span class="dt">px</span><span class="op">;</span></span>
<span id="cb6-39"><a href="#cb6-39" aria-hidden="true"></a>    <span class="kw">font-family</span>: <span class="dv">cursive</span><span class="op">;</span></span>
<span id="cb6-40"><a href="#cb6-40" aria-hidden="true"></a>    <span class="kw">border-top</span>: <span class="dv">dotted</span><span class="op">;</span></span>
<span id="cb6-41"><a href="#cb6-41" aria-hidden="true"></a>    <span class="kw">border-color</span>: <span class="cn">darkgray</span><span class="op">;</span></span>
<span id="cb6-42"><a href="#cb6-42" aria-hidden="true"></a>    <span class="kw">position</span>: <span class="dv">relative</span><span class="op">;</span></span>
<span id="cb6-43"><a href="#cb6-43" aria-hidden="true"></a>}</span>
<span id="cb6-44"><a href="#cb6-44" aria-hidden="true"></a></span>
<span id="cb6-45"><a href="#cb6-45" aria-hidden="true"></a><span class="fu">.list</span> li <span class="fu">.fa-trash</span>{</span>
<span id="cb6-46"><a href="#cb6-46" aria-hidden="true"></a>    <span class="kw">color</span>: <span class="cn">red</span><span class="op">;</span></span>
<span id="cb6-47"><a href="#cb6-47" aria-hidden="true"></a>    <span class="kw">position</span>: <span class="dv">absolute</span><span class="op">;</span></span>
<span id="cb6-48"><a href="#cb6-48" aria-hidden="true"></a>    <span class="kw">right</span>: <span class="dv">20</span><span class="dt">px</span><span class="op">;</span></span>
<span id="cb6-49"><a href="#cb6-49" aria-hidden="true"></a>    <span class="kw">top</span>: <span class="dv">50</span><span class="dt">%</span><span class="op">;</span></span>
<span id="cb6-50"><a href="#cb6-50" aria-hidden="true"></a>    <span class="kw">transform</span>: translateY(<span class="dv">-50</span><span class="dt">%</span>)<span class="op">;</span></span>
<span id="cb6-51"><a href="#cb6-51" aria-hidden="true"></a>    <span class="kw">cursor</span>: <span class="dv">pointer</span><span class="op">;</span></span>
<span id="cb6-52"><a href="#cb6-52" aria-hidden="true"></a>}</span>
<span id="cb6-53"><a href="#cb6-53" aria-hidden="true"></a><span class="fu">.list</span> li <span class="fu">.fa-check-square</span>{</span>
<span id="cb6-54"><a href="#cb6-54" aria-hidden="true"></a>    <span class="kw">color</span>: <span class="cn">green</span><span class="op">;</span></span>
<span id="cb6-55"><a href="#cb6-55" aria-hidden="true"></a>    <span class="kw">position</span>: <span class="dv">absolute</span><span class="op">;</span></span>
<span id="cb6-56"><a href="#cb6-56" aria-hidden="true"></a>    <span class="kw">right</span>: <span class="dv">40</span><span class="dt">px</span><span class="op">;</span></span>
<span id="cb6-57"><a href="#cb6-57" aria-hidden="true"></a>    <span class="kw">top</span>: <span class="dv">50</span><span class="dt">%</span><span class="op">;</span></span>
<span id="cb6-58"><a href="#cb6-58" aria-hidden="true"></a>    <span class="kw">transform</span>: translateY(<span class="dv">-50</span><span class="dt">%</span>)<span class="op">;</span></span>
<span id="cb6-59"><a href="#cb6-59" aria-hidden="true"></a>    <span class="kw">cursor</span>: <span class="dv">pointer</span><span class="op">;</span></span>
<span id="cb6-60"><a href="#cb6-60" aria-hidden="true"></a>}</span>
<span id="cb6-61"><a href="#cb6-61" aria-hidden="true"></a></span>
<span id="cb6-62"><a href="#cb6-62" aria-hidden="true"></a><span class="fu">.list</span> li<span class="fu">.checked</span> {</span>
<span id="cb6-63"><a href="#cb6-63" aria-hidden="true"></a>    <span class="kw">color</span>: <span class="cn">darkgray</span><span class="op">;</span></span>
<span id="cb6-64"><a href="#cb6-64" aria-hidden="true"></a>    <span class="kw">text-decoration</span>: <span class="dv">line-through</span><span class="op">;</span></span>
<span id="cb6-65"><a href="#cb6-65" aria-hidden="true"></a>}</span>
<span id="cb6-66"><a href="#cb6-66" aria-hidden="true"></a></span>
<span id="cb6-67"><a href="#cb6-67" aria-hidden="true"></a><span class="fu">.list</span> li<span class="fu">.checked</span> <span class="fu">.fa-check-square</span>{</span>
<span id="cb6-68"><a href="#cb6-68" aria-hidden="true"></a>    <span class="kw">color</span>: <span class="cn">darkgray</span><span class="op">;</span></span>
<span id="cb6-69"><a href="#cb6-69" aria-hidden="true"></a>}</span></code></pre></div>
<h3 id="task-7-add-js-code">Task 7: Add JS Code</h3>
<ol>
<li>Add js code to index.js file.</li>
</ol>
<div class="sourceCode" id="cb7"><pre class="sourceCode js"><code class="sourceCode javascript"><span id="cb7-1"><a href="#cb7-1" aria-hidden="true"></a><span class="kw">const</span> formEl <span class="op">=</span> <span class="bu">document</span><span class="op">.</span><span class="fu">querySelector</span>(<span class="st">&quot;.form&quot;</span>)<span class="op">;</span></span>
<span id="cb7-2"><a href="#cb7-2" aria-hidden="true"></a><span class="kw">const</span> inputEl <span class="op">=</span> <span class="bu">document</span><span class="op">.</span><span class="fu">querySelector</span>(<span class="st">&quot;.input&quot;</span>)<span class="op">;</span></span>
<span id="cb7-3"><a href="#cb7-3" aria-hidden="true"></a><span class="kw">const</span> ulEl <span class="op">=</span> <span class="bu">document</span><span class="op">.</span><span class="fu">querySelector</span>(<span class="st">&quot;.list&quot;</span>)<span class="op">;</span></span>
<span id="cb7-4"><a href="#cb7-4" aria-hidden="true"></a></span>
<span id="cb7-5"><a href="#cb7-5" aria-hidden="true"></a><span class="kw">let</span> list <span class="op">=</span> <span class="bu">JSON</span><span class="op">.</span><span class="fu">parse</span>(localStorage<span class="op">.</span><span class="fu">getItem</span>(<span class="st">&quot;list&quot;</span>))<span class="op">;</span></span>
<span id="cb7-6"><a href="#cb7-6" aria-hidden="true"></a><span class="cf">if</span> (list) {</span>
<span id="cb7-7"><a href="#cb7-7" aria-hidden="true"></a>  list<span class="op">.</span><span class="fu">forEach</span>((task) <span class="kw">=&gt;</span> {</span>
<span id="cb7-8"><a href="#cb7-8" aria-hidden="true"></a>    <span class="fu">toDoList</span>(task)<span class="op">;</span></span>
<span id="cb7-9"><a href="#cb7-9" aria-hidden="true"></a>  })<span class="op">;</span></span>
<span id="cb7-10"><a href="#cb7-10" aria-hidden="true"></a>}</span>
<span id="cb7-11"><a href="#cb7-11" aria-hidden="true"></a></span>
<span id="cb7-12"><a href="#cb7-12" aria-hidden="true"></a>formEl<span class="op">.</span><span class="fu">addEventListener</span>(<span class="st">&quot;submit&quot;</span><span class="op">,</span> (<span class="bu">event</span>) <span class="kw">=&gt;</span> {</span>
<span id="cb7-13"><a href="#cb7-13" aria-hidden="true"></a>  <span class="bu">event</span><span class="op">.</span><span class="fu">preventDefault</span>()<span class="op">;</span></span>
<span id="cb7-14"><a href="#cb7-14" aria-hidden="true"></a>  <span class="fu">toDoList</span>()<span class="op">;</span></span>
<span id="cb7-15"><a href="#cb7-15" aria-hidden="true"></a>})<span class="op">;</span></span>
<span id="cb7-16"><a href="#cb7-16" aria-hidden="true"></a></span>
<span id="cb7-17"><a href="#cb7-17" aria-hidden="true"></a><span class="kw">function</span> <span class="fu">toDoList</span>(task) {</span>
<span id="cb7-18"><a href="#cb7-18" aria-hidden="true"></a>  <span class="kw">let</span> newTask <span class="op">=</span> inputEl<span class="op">.</span><span class="at">value</span><span class="op">;</span></span>
<span id="cb7-19"><a href="#cb7-19" aria-hidden="true"></a>  <span class="cf">if</span> (task) {</span>
<span id="cb7-20"><a href="#cb7-20" aria-hidden="true"></a>    newTask <span class="op">=</span> task<span class="op">.</span><span class="at">name</span><span class="op">;</span></span>
<span id="cb7-21"><a href="#cb7-21" aria-hidden="true"></a>  }</span>
<span id="cb7-22"><a href="#cb7-22" aria-hidden="true"></a></span>
<span id="cb7-23"><a href="#cb7-23" aria-hidden="true"></a>  <span class="kw">const</span> liEl <span class="op">=</span> <span class="bu">document</span><span class="op">.</span><span class="fu">createElement</span>(<span class="st">&quot;li&quot;</span>)<span class="op">;</span></span>
<span id="cb7-24"><a href="#cb7-24" aria-hidden="true"></a>  <span class="cf">if</span> (task <span class="op">&amp;&amp;</span> task<span class="op">.</span><span class="at">checked</span>) {</span>
<span id="cb7-25"><a href="#cb7-25" aria-hidden="true"></a>    liEl<span class="op">.</span><span class="at">classList</span><span class="op">.</span><span class="fu">add</span>(<span class="st">&quot;checked&quot;</span>)<span class="op">;</span></span>
<span id="cb7-26"><a href="#cb7-26" aria-hidden="true"></a>  }</span>
<span id="cb7-27"><a href="#cb7-27" aria-hidden="true"></a>  liEl<span class="op">.</span><span class="at">innerText</span> <span class="op">=</span> newTask<span class="op">;</span></span>
<span id="cb7-28"><a href="#cb7-28" aria-hidden="true"></a>  ulEl<span class="op">.</span><span class="fu">appendChild</span>(liEl)<span class="op">;</span></span>
<span id="cb7-29"><a href="#cb7-29" aria-hidden="true"></a>  inputEl<span class="op">.</span><span class="at">value</span> <span class="op">=</span> <span class="st">&quot;&quot;</span><span class="op">;</span></span>
<span id="cb7-30"><a href="#cb7-30" aria-hidden="true"></a>  <span class="kw">const</span> checkBtnEl <span class="op">=</span> <span class="bu">document</span><span class="op">.</span><span class="fu">createElement</span>(<span class="st">&quot;div&quot;</span>)<span class="op">;</span></span>
<span id="cb7-31"><a href="#cb7-31" aria-hidden="true"></a>  checkBtnEl<span class="op">.</span><span class="at">innerHTML</span> <span class="op">=</span> <span class="vs">`</span></span>
<span id="cb7-32"><a href="#cb7-32" aria-hidden="true"></a><span class="vs">  &lt;i class=&quot;fas fa-check-square&quot;&gt;</span></span>
<span id="cb7-33"><a href="#cb7-33" aria-hidden="true"></a><span class="vs">  `</span><span class="op">;</span></span>
<span id="cb7-34"><a href="#cb7-34" aria-hidden="true"></a>  liEl<span class="op">.</span><span class="fu">appendChild</span>(checkBtnEl)<span class="op">;</span></span>
<span id="cb7-35"><a href="#cb7-35" aria-hidden="true"></a>  <span class="kw">const</span> trashBtnEl <span class="op">=</span> <span class="bu">document</span><span class="op">.</span><span class="fu">createElement</span>(<span class="st">&quot;div&quot;</span>)<span class="op">;</span></span>
<span id="cb7-36"><a href="#cb7-36" aria-hidden="true"></a>  trashBtnEl<span class="op">.</span><span class="at">innerHTML</span> <span class="op">=</span> <span class="vs">`</span></span>
<span id="cb7-37"><a href="#cb7-37" aria-hidden="true"></a><span class="vs">  &lt;i class=&quot;fas fa-trash&quot;&gt;&lt;/i&gt;</span></span>
<span id="cb7-38"><a href="#cb7-38" aria-hidden="true"></a><span class="vs">  `</span><span class="op">;</span></span>
<span id="cb7-39"><a href="#cb7-39" aria-hidden="true"></a>  liEl<span class="op">.</span><span class="fu">appendChild</span>(trashBtnEl)<span class="op">;</span></span>
<span id="cb7-40"><a href="#cb7-40" aria-hidden="true"></a></span>
<span id="cb7-41"><a href="#cb7-41" aria-hidden="true"></a>  checkBtnEl<span class="op">.</span><span class="fu">addEventListener</span>(<span class="st">&quot;click&quot;</span><span class="op">,</span> () <span class="kw">=&gt;</span> {</span>
<span id="cb7-42"><a href="#cb7-42" aria-hidden="true"></a>    liEl<span class="op">.</span><span class="at">classList</span><span class="op">.</span><span class="fu">toggle</span>(<span class="st">&quot;checked&quot;</span>)<span class="op">;</span></span>
<span id="cb7-43"><a href="#cb7-43" aria-hidden="true"></a>    <span class="fu">updateLocalStorage</span>()<span class="op">;</span></span>
<span id="cb7-44"><a href="#cb7-44" aria-hidden="true"></a>  })<span class="op">;</span></span>
<span id="cb7-45"><a href="#cb7-45" aria-hidden="true"></a></span>
<span id="cb7-46"><a href="#cb7-46" aria-hidden="true"></a>  trashBtnEl<span class="op">.</span><span class="fu">addEventListener</span>(<span class="st">&quot;click&quot;</span><span class="op">,</span> () <span class="kw">=&gt;</span> {</span>
<span id="cb7-47"><a href="#cb7-47" aria-hidden="true"></a>    liEl<span class="op">.</span><span class="fu">remove</span>()<span class="op">;</span></span>
<span id="cb7-48"><a href="#cb7-48" aria-hidden="true"></a>    <span class="fu">updateLocalStorage</span>()<span class="op">;</span></span>
<span id="cb7-49"><a href="#cb7-49" aria-hidden="true"></a>  })<span class="op">;</span></span>
<span id="cb7-50"><a href="#cb7-50" aria-hidden="true"></a>  <span class="fu">updateLocalStorage</span>()<span class="op">;</span></span>
<span id="cb7-51"><a href="#cb7-51" aria-hidden="true"></a>}</span>
<span id="cb7-52"><a href="#cb7-52" aria-hidden="true"></a></span>
<span id="cb7-53"><a href="#cb7-53" aria-hidden="true"></a><span class="kw">function</span> <span class="fu">updateLocalStorage</span>() {</span>
<span id="cb7-54"><a href="#cb7-54" aria-hidden="true"></a>  <span class="kw">const</span> liEls <span class="op">=</span> <span class="bu">document</span><span class="op">.</span><span class="fu">querySelectorAll</span>(<span class="st">&quot;li&quot;</span>)<span class="op">;</span></span>
<span id="cb7-55"><a href="#cb7-55" aria-hidden="true"></a>  list <span class="op">=</span> []<span class="op">;</span></span>
<span id="cb7-56"><a href="#cb7-56" aria-hidden="true"></a>  liEls<span class="op">.</span><span class="fu">forEach</span>((liEl) <span class="kw">=&gt;</span> {</span>
<span id="cb7-57"><a href="#cb7-57" aria-hidden="true"></a>    list<span class="op">.</span><span class="fu">push</span>({</span>
<span id="cb7-58"><a href="#cb7-58" aria-hidden="true"></a>      <span class="dt">name</span><span class="op">:</span> liEl<span class="op">.</span><span class="at">innerText</span><span class="op">,</span></span>
<span id="cb7-59"><a href="#cb7-59" aria-hidden="true"></a>      <span class="dt">checked</span><span class="op">:</span> liEl<span class="op">.</span><span class="at">classList</span><span class="op">.</span><span class="fu">contains</span>(<span class="st">&quot;checked&quot;</span>)<span class="op">,</span></span>
<span id="cb7-60"><a href="#cb7-60" aria-hidden="true"></a>    })<span class="op">;</span></span>
<span id="cb7-61"><a href="#cb7-61" aria-hidden="true"></a>  })<span class="op">;</span></span>
<span id="cb7-62"><a href="#cb7-62" aria-hidden="true"></a>  localStorage<span class="op">.</span><span class="fu">setItem</span>(<span class="st">&quot;list&quot;</span><span class="op">,</span> <span class="bu">JSON</span><span class="op">.</span><span class="fu">stringify</span>(list))<span class="op">;</span></span>
<span id="cb7-63"><a href="#cb7-63" aria-hidden="true"></a>}</span></code></pre></div>
<h3 id="task-8-run-the-server">Task 8: Run the Server</h3>
<ol>
<li>Use VS Code Live Server(Install extension)</li>
</ol>
<p><img src="./images/prob02-7.png" /></p>
<h2 id="sample-output">Sample Output</h2>
<ol>
<li>Use VS Code Live Server(Install extension)</li>
</ol>
<p><img src="./images/prob02-8.png" /></p>
