<h1 id="lab-swapping-embedded-server">Lab: Swapping Embedded Server</h1>
<h2 id="tasks">Tasks</h2>
<p>We can use other servers with our applications other than tomcat like jetty, undertone to do that</p>
<h3 id="task1--create-spring-initializer-project-with-spring-web">Task1 : Create spring initializer project with spring web</h3>
<p><img src="./images/image3-1.png" /></p>
<h3 id="task-2-to-use-jetty-we-have-to-swap-tomcat-with-jetty">Task 2: To use jetty, we have to swap tomcat with jetty</h3>
<p>In spring boot starter web add exclusions</p>
<p><img src="./images/image3-2.png" /></p>
<p>Add spring-boot-starter-jetty for dependencies</p>
<p><img src="./images/image3-3.png" /></p>
<p>Refresh the maven and start the application</p>
<h2 id="output">Output</h2>
<p><img src="./images/image3-4.png" /></p>
