<h1 id="lab-building-rest-apis">Lab: Building REST APIs</h1>
<h2 id="objective">Objective</h2>
<ul>
<li>To build a REST API with various HTTP methods.</li>
<li>To build services for microservices application</li>
</ul>
<h2 id="steps">Steps</h2>
<h3 id="task-1-create-a-new-spring-boot-project">Task 1: Create a new Spring Boot project.</h3>
<p><img src="./images/image4-1.png" /></p>
<ul>
<li>Setup the configurations for MYSQL</li>
</ul>
<h3 id="task-2-define-rest-endpoints-using-getmapping-postmapping-putmapping-and-deletemapping-annotations">Task 2: Define REST endpoints using @GetMapping, @PostMapping, @PutMapping, and @DeleteMapping annotations.</h3>
<h3 id="task-3-use-requestbody-and-responsebody-annotations-to-handle-request-and-response-bodies">Task 3: Use @RequestBody and @ResponseBody annotations to handle request and response bodies.</h3>
<h3 id="task-4-test-the-api-using-tools-like-postman-or-curl">Task 4: Test the API using tools like Postman or curl.</h3>
