<h1 id="lab--hello-spring-boot">Lab : Hello, Spring Boot!</h1>
<h2 id="objective">Objective</h2>
<ul>
<li>To create a basic Spring Boot application that displays a simple message.</li>
</ul>
<h2 id="steps">Steps</h2>
<h3 id="step-1-create-a-new-spring-boot-project-using-your-preferred-ide-or-spring-initializr">Step 1: Create a new Spring Boot project using your preferred IDE or Spring Initializr.</h3>
<ul>
<li>visit <a href="https://start.spring.io/">Spring Initializer</a></li>
</ul>
<p><img src="./images/image1-1.png" /></p>
<h3 id="step-2-add-the-spring-boot-starter-web-dependency-to-your-project">Step 2: Add the spring-boot-starter-web dependency to your project.</h3>
<p><img src="./images/image1-2.png" /></p>
<h3 id="step-3-create-a-restcontroller-class-with-a-getmapping-method-that-returns-a-simple-string-message">Step 3: Create a @RestController class with a @GetMapping method that returns a simple string message.</h3>
<p><img src="./images/image1-3.png" /></p>
<h3 id="step-4-run-the-application-and-access-the-endpoint-in-your-browser">Step 4: Run the application and access the endpoint in your browser.</h3>
<p><img src="./images/image1-4.png" /></p>
<h2 id="output">Output</h2>
<p><img src="./images/image1-5.png" /></p>
<p>Testing using PostMan</p>
<p><img src="./images/image1-6.png" /></p>
