<h1 id="lab-creating-order-service-for-ecommerce-app">Lab: Creating Order Service for Ecommerce App</h1>
<h2 id="tasks">Tasks</h2>
<h3 id="task-1-generating-template-from-spring-initializer">Task 1: Generating Template from spring initializer</h3>
<ul>
<li><p>visit the <a href="https://start.spring.io">spring initializer</a></p></li>
<li><p>Add the dependencies</p>
<ul>
<li>Spring Web</li>
<li>Eureka Client</li>
<li>Lombok</li>
<li>Data JPA</li>
<li>Mysql</li>
<li>Cloud Bootstrap</li>
</ul>
<p><img src="./images/image2-1.png" /></p></li>
</ul>
<h3 id="task-2-open-the-project-in-intellij">Task 2: Open the project in intelliJ</h3>
<ul>
<li>Convert <code>application.properties</code> to <code>application.yaml</code></li>
<li>Set <code>server.port</code> to <code>8082</code></li>
</ul>
<h3 id="task-3-creating-order-service">Task 3: Creating Order Service</h3>
<ul>
<li>Create – endpoints as in spring boot app as you created earlier</li>
<li>Order Resource has the fields as below
<ul>
<li>orderId</li>
<li>productId</li>
<li>amount</li>
<li>quantity</li>
<li>orderStatus</li>
<li>orderDate</li>
</ul></li>
</ul>
<h3 id="task-4-add-order-service-as-eureka-client">Task 4: Add order Service as Eureka Client</h3>
<p><img src="./images/image3-2.png" /></p>
<p>test the order service and service registry</p>
<h2 id="output">Output:</h2>
<p><img src="./images/image3-1.png" /></p>
