<h1 id="submission-instructions">Submission Instructions</h1>
<p>Once you have performed the labs submit the solution screenshot using the below form</p>
<p><a href="https://forms.gle/Y7E3YJy8SMEBjrNN6">Submission Form</a></p>
