<h1 id="lab-adding-payment-service-to-ecommerce-app">Lab: Adding Payment service to Ecommerce App</h1>
<h2 id="tasks">Tasks</h2>
<h3 id="task-1-generating-template-from-spring-initializer">Task 1: Generating Template from spring initializer</h3>
<ul>
<li><p>visit the <a href="https://start.spring.io">spring initializer</a></p></li>
<li><p>Add the dependencies</p>
<ul>
<li>Spring Web</li>
<li>Eureka Client</li>
<li>Lombok</li>
<li>Data JPA</li>
<li>Mysql</li>
<li>Cloud Bootstrap</li>
<li>zipkin</li>
</ul>
<p><img src="./images/image2-1.png" /></p></li>
</ul>
<h3 id="task-2-open-the-project-in-intellij">Task 2: Open the project in intelliJ</h3>
<ul>
<li>Convert <code>application.properties</code> to <code>application.yaml</code></li>
<li>Set <code>server.port</code> to <code>8083</code></li>
</ul>
<h3 id="task-3-create-payment-service">Task 3: Create Payment Service</h3>
<p><img src="./images/image7-1.png" /></p>
<ul>
<li>TransactionDetails Entity</li>
</ul>
<p><img src="./images/image7-2.png" /></p>
<ul>
<li>PaymentMode</li>
</ul>
<p><img src="./images/image7-3.png" /></p>
<ul>
<li>With methods doPayment</li>
</ul>
<p><img src="./images/image7-4.png" /></p>
<ul>
<li>Get Payment details by order id</li>
</ul>
<p><img src="./images/image7-5.png" /></p>
