<h1 id="lab-creating-service-registry-for-ecommerce-app">Lab: Creating Service Registry for Ecommerce App</h1>
<h2 id="tasks">Tasks:</h2>
<h3 id="task-1-generating-template-from-spring-initializer">Task 1: Generating Template from spring initializer</h3>
<ul>
<li>visit the <a href="https://start.spring.io">spring initializer</a></li>
<li>Add the dependencies</li>
</ul>
<p><img src="./images/image1-1.png" /></p>
<h3 id="task-2-open-the-project-in-intellij">Task 2: Open the project in intellij</h3>
<ul>
<li>Convert <code>application.properties</code> to <code>application.yaml</code></li>
</ul>
<h3 id="task-3-enable-eureka-server">Task 3: Enable Eureka Server</h3>
<ul>
<li>In Application File - <code>@EnableEurekaServer</code></li>
</ul>
<p><img src="./images/image1-2.png" /></p>
<h3 id="task-4-add-configuration-in-applicationyml">Task 4: Add Configuration in application.yml</h3>
<p>set <code>server.port</code> to <code>8761</code></p>
<p><img src="./images/image1-3.png" /></p>
<h2 id="output">Output:</h2>
<p>Now you can check the service registry using the above address</p>
<p><img src="./images/image1-4.png" /></p>
<p><img src="./images/image1-5.png" /></p>
<p>visit <a href="https://spring.io/guides/gs/service-registration-and-discovery">https://spring.io/guides/gs/service-registration-and-discovery</a> for more</p>
