<h1 id="lab-add-zipkin-tracing-for-ecommerce-application">Lab: Add zipkin tracing for Ecommerce Application</h1>
<h2 id="tasks">Tasks</h2>
<ul>
<li>Visit <a href="https://zipkin.io/pages/quickstart">zipkin quickstart</a></li>
<li>You can use the docker version or java version</li>
</ul>
<p><img src="./images/image6-1.png" /></p>
<ul>
<li>Add Zipkin and Slueth(moved to micrometer from spring 3.0) Dependencies n order and product service</li>
</ul>
<div class="sourceCode" id="cb1"><pre class="sourceCode xml"><code class="sourceCode xml"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true"></a><span class="kw">&lt;dependency&gt;</span></span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true"></a>    <span class="kw">&lt;groupId&gt;</span>org.springframework.boot<span class="kw">&lt;/groupId&gt;</span></span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true"></a>    <span class="kw">&lt;artifactId&gt;</span>spring-boot-starter-actuator<span class="kw">&lt;/artifactId&gt;</span></span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true"></a><span class="kw">&lt;/dependency&gt;</span></span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true"></a><span class="kw">&lt;dependency&gt;</span></span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true"></a>    <span class="kw">&lt;groupId&gt;</span>io.micrometer<span class="kw">&lt;/groupId&gt;</span></span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true"></a>    <span class="kw">&lt;artifactId&gt;</span>micrometer-tracing-bridge-brave<span class="kw">&lt;/artifactId&gt;</span></span>
<span id="cb1-8"><a href="#cb1-8" aria-hidden="true"></a><span class="kw">&lt;/dependency&gt;</span></span>
<span id="cb1-9"><a href="#cb1-9" aria-hidden="true"></a><span class="kw">&lt;dependency&gt;</span></span>
<span id="cb1-10"><a href="#cb1-10" aria-hidden="true"></a>    <span class="kw">&lt;groupId&gt;</span>io.zipkin.reporter2<span class="kw">&lt;/groupId&gt;</span></span>
<span id="cb1-11"><a href="#cb1-11" aria-hidden="true"></a>    <span class="kw">&lt;artifactId&gt;</span>zipkin-reporter-brave<span class="kw">&lt;/artifactId&gt;</span></span>
<span id="cb1-12"><a href="#cb1-12" aria-hidden="true"></a><span class="kw">&lt;/dependency&gt;</span></span></code></pre></div>
<p>You will be able to get trace using trace id and span id</p>
<p><img src="./images/image6-2.png" /></p>
