<h1 id="lab-communication-among-services-using-resttemplate">Lab: Communication among services using RestTemplate</h1>
<h2 id="tasks">Tasks</h2>
<h3 id="task-1-in-the-service-you-want-to-fetch-data-order-service">Task 1: In the Service you want to fetch data <code>ORDER SERVICE</code></h3>
<p><img src="./images/image8-1.png" /></p>
<h3 id="task-2-in-the-external-package">Task 2: In the external package</h3>
<ul>
<li>Create Client</li>
</ul>
<p><img src="./images/image8-2.png" /></p>
<h3 id="task-5-create-payment-service-openfeign-client">Task 5: Create Payment service openfeign client</h3>
<div class="sourceCode" id="cb1"><pre class="sourceCode java"><code class="sourceCode java"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true"></a><span class="at">@FeignClient</span>(name = <span class="st">&quot;PAYMENT-SERVICE/payment&quot;</span>)</span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true"></a><span class="kw">public</span> <span class="kw">interface</span> PaymentService {</span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true"></a></span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true"></a>    <span class="at">@PostMapping</span></span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true"></a>    <span class="kw">public</span> ResponseEntity&lt;<span class="bu">Long</span>&gt; <span class="fu">doPayment</span>(<span class="at">@RequestBody</span> PaymentRequest paymentRequest);</span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true"></a></span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true"></a>    <span class="kw">default</span> ResponseEntity&lt;<span class="bu">Long</span>&gt; <span class="fu">fallback</span>(<span class="bu">Exception</span> e) {</span>
<span id="cb1-8"><a href="#cb1-8" aria-hidden="true"></a>        <span class="kw">throw</span> <span class="kw">new</span> <span class="fu">CustomException</span>(<span class="st">&quot;Payment Service is not available&quot;</span>,</span>
<span id="cb1-9"><a href="#cb1-9" aria-hidden="true"></a>                <span class="st">&quot;UNAVAILABLE&quot;</span>,</span>
<span id="cb1-10"><a href="#cb1-10" aria-hidden="true"></a>                <span class="dv">500</span>);</span>
<span id="cb1-11"><a href="#cb1-11" aria-hidden="true"></a>    }</span>
<span id="cb1-12"><a href="#cb1-12" aria-hidden="true"></a>}</span>
<span id="cb1-13"><a href="#cb1-13" aria-hidden="true"></a></span></code></pre></div>
<p>This can also be implemented using resttemplate <code>postforobject</code> or <code>postforentity</code></p>
<h3 id="task-4-modify-placeorder-method-to-updated-payment">Task 4: Modify PlaceOrder Method to updated payment</h3>
<div class="sourceCode" id="cb2"><pre class="sourceCode java"><code class="sourceCode java"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true"></a>    <span class="at">@Override</span></span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true"></a>    <span class="kw">public</span> <span class="dt">long</span> <span class="fu">placeOrder</span>(OrderRequest orderRequest) {</span>
<span id="cb2-3"><a href="#cb2-3" aria-hidden="true"></a></span>
<span id="cb2-4"><a href="#cb2-4" aria-hidden="true"></a>        <span class="co">//Order Entity -&gt; Save the data with Status Order Created</span></span>
<span id="cb2-5"><a href="#cb2-5" aria-hidden="true"></a>        <span class="co">//Product Service - Block Products (Reduce the Quantity)</span></span>
<span id="cb2-6"><a href="#cb2-6" aria-hidden="true"></a>        <span class="co">//Payment Service -&gt; Payments -&gt; Success-&gt; COMPLETE, Else</span></span>
<span id="cb2-7"><a href="#cb2-7" aria-hidden="true"></a>        <span class="co">//CANCELLED</span></span>
<span id="cb2-8"><a href="#cb2-8" aria-hidden="true"></a></span>
<span id="cb2-9"><a href="#cb2-9" aria-hidden="true"></a></span>
<span id="cb2-10"><a href="#cb2-10" aria-hidden="true"></a></span>
<span id="cb2-11"><a href="#cb2-11" aria-hidden="true"></a>        productService.<span class="fu">reduceQuantity</span>(orderRequest.<span class="fu">getProductId</span>(), orderRequest.<span class="fu">getQuantity</span>());</span>
<span id="cb2-12"><a href="#cb2-12" aria-hidden="true"></a></span>
<span id="cb2-13"><a href="#cb2-13" aria-hidden="true"></a></span>
<span id="cb2-14"><a href="#cb2-14" aria-hidden="true"></a>        Order order = Order.<span class="fu">builder</span>()</span>
<span id="cb2-15"><a href="#cb2-15" aria-hidden="true"></a>                .<span class="fu">amount</span>(orderRequest.<span class="fu">getTotalAmount</span>())</span>
<span id="cb2-16"><a href="#cb2-16" aria-hidden="true"></a>                .<span class="fu">orderStatus</span>(<span class="st">&quot;CREATED&quot;</span>)</span>
<span id="cb2-17"><a href="#cb2-17" aria-hidden="true"></a>                .<span class="fu">productId</span>(orderRequest.<span class="fu">getProductId</span>())</span>
<span id="cb2-18"><a href="#cb2-18" aria-hidden="true"></a>                .<span class="fu">orderDate</span>(Instant.<span class="fu">now</span>())</span>
<span id="cb2-19"><a href="#cb2-19" aria-hidden="true"></a>                .<span class="fu">quantity</span>(orderRequest.<span class="fu">getQuantity</span>())</span>
<span id="cb2-20"><a href="#cb2-20" aria-hidden="true"></a>                .<span class="fu">build</span>();</span>
<span id="cb2-21"><a href="#cb2-21" aria-hidden="true"></a></span>
<span id="cb2-22"><a href="#cb2-22" aria-hidden="true"></a>        order = orderRepository.<span class="fu">save</span>(order);</span>
<span id="cb2-23"><a href="#cb2-23" aria-hidden="true"></a></span>
<span id="cb2-24"><a href="#cb2-24" aria-hidden="true"></a>               PaymentRequest paymentRequest</span>
<span id="cb2-25"><a href="#cb2-25" aria-hidden="true"></a>                = PaymentRequest.<span class="fu">builder</span>()</span>
<span id="cb2-26"><a href="#cb2-26" aria-hidden="true"></a>                .<span class="fu">orderId</span>(order.<span class="fu">getId</span>())</span>
<span id="cb2-27"><a href="#cb2-27" aria-hidden="true"></a>                .<span class="fu">paymentMode</span>(orderRequest.<span class="fu">getPaymentMode</span>())</span>
<span id="cb2-28"><a href="#cb2-28" aria-hidden="true"></a>                .<span class="fu">amount</span>(orderRequest.<span class="fu">getTotalAmount</span>())</span>
<span id="cb2-29"><a href="#cb2-29" aria-hidden="true"></a>                .<span class="fu">build</span>();</span>
<span id="cb2-30"><a href="#cb2-30" aria-hidden="true"></a></span>
<span id="cb2-31"><a href="#cb2-31" aria-hidden="true"></a>        <span class="bu">String</span> orderStatus = <span class="kw">null</span>;</span>
<span id="cb2-32"><a href="#cb2-32" aria-hidden="true"></a>        <span class="kw">try</span> {</span>
<span id="cb2-33"><a href="#cb2-33" aria-hidden="true"></a>            paymentService.<span class="fu">doPayment</span>(paymentRequest);</span>
<span id="cb2-34"><a href="#cb2-34" aria-hidden="true"></a></span>
<span id="cb2-35"><a href="#cb2-35" aria-hidden="true"></a>            orderStatus = <span class="st">&quot;PLACED&quot;</span>;</span>
<span id="cb2-36"><a href="#cb2-36" aria-hidden="true"></a>        } <span class="kw">catch</span> (<span class="bu">Exception</span> e) {</span>
<span id="cb2-37"><a href="#cb2-37" aria-hidden="true"></a></span>
<span id="cb2-38"><a href="#cb2-38" aria-hidden="true"></a>            orderStatus = <span class="st">&quot;PAYMENT_FAILED&quot;</span>;</span>
<span id="cb2-39"><a href="#cb2-39" aria-hidden="true"></a>        }</span>
<span id="cb2-40"><a href="#cb2-40" aria-hidden="true"></a>        order.<span class="fu">setOrderStatus</span>(orderStatus);</span>
<span id="cb2-41"><a href="#cb2-41" aria-hidden="true"></a>        orderRepository.<span class="fu">save</span>(order);</span>
<span id="cb2-42"><a href="#cb2-42" aria-hidden="true"></a></span>
<span id="cb2-43"><a href="#cb2-43" aria-hidden="true"></a></span>
<span id="cb2-44"><a href="#cb2-44" aria-hidden="true"></a>        <span class="kw">return</span> order.<span class="fu">getId</span>();</span>
<span id="cb2-45"><a href="#cb2-45" aria-hidden="true"></a>    }</span></code></pre></div>
<h3 id="task-5-implement-getorder-details">Task 5: Implement getorder details</h3>
<div class="sourceCode" id="cb3"><pre class="sourceCode java"><code class="sourceCode java"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true"></a> <span class="kw">public</span> OrderResponse <span class="fu">getOrderDetails</span>(<span class="dt">long</span> orderId) {</span>
<span id="cb3-2"><a href="#cb3-2" aria-hidden="true"></a></span>
<span id="cb3-3"><a href="#cb3-3" aria-hidden="true"></a>        Order order</span>
<span id="cb3-4"><a href="#cb3-4" aria-hidden="true"></a>                = orderRepository.<span class="fu">findById</span>(orderId)</span>
<span id="cb3-5"><a href="#cb3-5" aria-hidden="true"></a>                .<span class="fu">orElseThrow</span>(() -&gt; <span class="kw">new</span> <span class="fu">CustomException</span>(<span class="st">&quot;Order not found for the order Id:&quot;</span> + orderId,</span>
<span id="cb3-6"><a href="#cb3-6" aria-hidden="true"></a>                        <span class="st">&quot;NOT_FOUND&quot;</span>,</span>
<span id="cb3-7"><a href="#cb3-7" aria-hidden="true"></a>                        <span class="dv">404</span>));</span>
<span id="cb3-8"><a href="#cb3-8" aria-hidden="true"></a></span>
<span id="cb3-9"><a href="#cb3-9" aria-hidden="true"></a>   </span>
<span id="cb3-10"><a href="#cb3-10" aria-hidden="true"></a>        ProductResponse productResponse = restTemplate.<span class="fu">getForObject</span>(<span class="st">&quot;http://PRODUCT-SERVICE/product/&quot;</span> + order.<span class="fu">getProductId</span>(), ProductResponse.<span class="fu">class</span>);</span>
<span id="cb3-11"><a href="#cb3-11" aria-hidden="true"></a></span>
<span id="cb3-12"><a href="#cb3-12" aria-hidden="true"></a></span>
<span id="cb3-13"><a href="#cb3-13" aria-hidden="true"></a>        PaymentResponse paymentResponse</span>
<span id="cb3-14"><a href="#cb3-14" aria-hidden="true"></a>                = restTemplate.<span class="fu">getForObject</span>(</span>
<span id="cb3-15"><a href="#cb3-15" aria-hidden="true"></a>                        <span class="st">&quot;http://PAYMENT-SERVICE/payment/order/&quot;</span> + order.<span class="fu">getId</span>(),</span>
<span id="cb3-16"><a href="#cb3-16" aria-hidden="true"></a>                PaymentResponse.<span class="fu">class</span></span>
<span id="cb3-17"><a href="#cb3-17" aria-hidden="true"></a>                );</span>
<span id="cb3-18"><a href="#cb3-18" aria-hidden="true"></a></span>
<span id="cb3-19"><a href="#cb3-19" aria-hidden="true"></a>        OrderResponse.<span class="fu">ProductDetails</span> productDetails</span>
<span id="cb3-20"><a href="#cb3-20" aria-hidden="true"></a>                = OrderResponse.<span class="fu">ProductDetails</span></span>
<span id="cb3-21"><a href="#cb3-21" aria-hidden="true"></a>                .<span class="fu">builder</span>()</span>
<span id="cb3-22"><a href="#cb3-22" aria-hidden="true"></a>                .<span class="fu">productName</span>(productResponse.<span class="fu">getProductName</span>())</span>
<span id="cb3-23"><a href="#cb3-23" aria-hidden="true"></a>                .<span class="fu">productId</span>(productResponse.<span class="fu">getProductId</span>())</span>
<span id="cb3-24"><a href="#cb3-24" aria-hidden="true"></a>                .<span class="fu">build</span>();</span>
<span id="cb3-25"><a href="#cb3-25" aria-hidden="true"></a></span>
<span id="cb3-26"><a href="#cb3-26" aria-hidden="true"></a>        OrderResponse.<span class="fu">PaymentDetails</span> paymentDetails</span>
<span id="cb3-27"><a href="#cb3-27" aria-hidden="true"></a>                = OrderResponse.<span class="fu">PaymentDetails</span></span>
<span id="cb3-28"><a href="#cb3-28" aria-hidden="true"></a>                .<span class="fu">builder</span>()</span>
<span id="cb3-29"><a href="#cb3-29" aria-hidden="true"></a>                .<span class="fu">paymentId</span>(paymentResponse.<span class="fu">getPaymentId</span>())</span>
<span id="cb3-30"><a href="#cb3-30" aria-hidden="true"></a>                .<span class="fu">paymentStatus</span>(paymentResponse.<span class="fu">getStatus</span>())</span>
<span id="cb3-31"><a href="#cb3-31" aria-hidden="true"></a>                .<span class="fu">paymentDate</span>(paymentResponse.<span class="fu">getPaymentDate</span>())</span>
<span id="cb3-32"><a href="#cb3-32" aria-hidden="true"></a>                .<span class="fu">paymentMode</span>(paymentResponse.<span class="fu">getPaymentMode</span>())</span>
<span id="cb3-33"><a href="#cb3-33" aria-hidden="true"></a>                .<span class="fu">build</span>();</span>
<span id="cb3-34"><a href="#cb3-34" aria-hidden="true"></a></span>
<span id="cb3-35"><a href="#cb3-35" aria-hidden="true"></a>        OrderResponse orderResponse</span>
<span id="cb3-36"><a href="#cb3-36" aria-hidden="true"></a>                = OrderResponse.<span class="fu">builder</span>()</span>
<span id="cb3-37"><a href="#cb3-37" aria-hidden="true"></a>                .<span class="fu">orderId</span>(order.<span class="fu">getId</span>())</span>
<span id="cb3-38"><a href="#cb3-38" aria-hidden="true"></a>                .<span class="fu">orderStatus</span>(order.<span class="fu">getOrderStatus</span>())</span>
<span id="cb3-39"><a href="#cb3-39" aria-hidden="true"></a>                .<span class="fu">amount</span>(order.<span class="fu">getAmount</span>())</span>
<span id="cb3-40"><a href="#cb3-40" aria-hidden="true"></a>                .<span class="fu">orderDate</span>(order.<span class="fu">getOrderDate</span>())</span>
<span id="cb3-41"><a href="#cb3-41" aria-hidden="true"></a>                .<span class="fu">productDetails</span>(productDetails)</span>
<span id="cb3-42"><a href="#cb3-42" aria-hidden="true"></a>                .<span class="fu">paymentDetails</span>(paymentDetails)</span>
<span id="cb3-43"><a href="#cb3-43" aria-hidden="true"></a>                .<span class="fu">build</span>();</span>
<span id="cb3-44"><a href="#cb3-44" aria-hidden="true"></a></span>
<span id="cb3-45"><a href="#cb3-45" aria-hidden="true"></a>        <span class="kw">return</span> orderResponse;</span>
<span id="cb3-46"><a href="#cb3-46" aria-hidden="true"></a>    }</span></code></pre></div>
<h2 id="output">Output</h2>
<p>Test the endpoints with relevant details</p>
<p>Refer :</p>
<ol>
<li><a href="https://spring.io/guides/gs/consuming-rest">https://spring.io/guides/gs/consuming-rest</a></li>
<li><a href="https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/web/client/RestTemplate.html">https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/web/client/RestTemplate.html</a></li>
<li><a href="https://www.springcloud.io/post/2022-03/spring-resttemplate/#gsc.tab=0">https://www.springcloud.io/post/2022-03/spring-resttemplate/#gsc.tab=0</a></li>
</ol>
